@import url(https://fonts.googleapis.com/css?family=Oswald);
body {
  font-family: 'Oswald', sans-serif;
  width: auto;
  height: 1000px;
  color: #9B9B9B;
  margin: 0;
  padding: 0;
  text-transform: Uppercase;
  background: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  background-color: #F6F6F4;
}

#container {
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding-top: 300px;
}

#time {
  font-size: 110px;
  line-height: 55px;
}

#date {
  font-size: 102px;
  float: left;
  padding-right: 5px;
  color: #161616;
}

#month {
  font-size: 45px;
  line-height: 99px;
  color: #706F6F;
}

#day {
  font-size: 45px;
  line-height: 0px
}

/* Footer */
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer > .text {
	background-color: transparent;
	padding: 10px 20px;
	text-transform: none;
	color: #5F5F5F;
}

footer > .text > #hashtags {
	float: right;
}

/* Progress bar */
progress, progress[role] {
	vertical-align: top;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-size: auto;
	height: 50px;
	width: 100%;
	background-color: #FFF;
}

.bar {
	position: relative;
	transition: width 5s ease;
}

.bar-red::-webkit-progress-value {
   background: #D2331E;
}

.bar-red::-moz-progress-bar {
	background: #D2331E;
}

.bar-blue::-webkit-progress-value {
	background: #FCB034;
}

.bar-blue::-moz-progress-bar {
	background: #FCB034;
}

@-webkit-keyframes bar-fill {
	0% {
		width: 0;
	}
}
@keyframes bar-fill {
	0% {
		width: 0;
	}
}